p {
    color:aqua;
    font-size: 10px;
}
#parrafo-inicial {
    color:red;
    font-size: 16px;
}
.primer-elemento {
    border: 5px solid;
}
img[src]{
    border: 1px solid;
    height: 300px;
    width: 200px;
    margin-bottom: 200px ;
    border: 5px solid;
}
#titulo{
    text-align: center;
}